@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  
  .animate-progress {
    animation: progress 1s linear infinite;
  }
  @layer utilities {
    .bg-glass {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
    }
  }